* {
  padding: 0;
  margin: 0;
}

.Grid-container {
  width: 100%;
  height: 300%;
  background-color: #004154;
  color: antiquewhite;
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1.5fr 3fr 1fr;
}
@media only screen and (max-width: 768px) {
  .Grid-container {
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 550px) {
  .Grid-container {
    grid-template-rows: 0.5fr 1.8fr 1.5fr 1fr 1fr 1fr 1.7fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h1 {
  font-size: 52px;
  font-family: "Bree Serif", serif, helvetica;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
  font-family: "Bree Serif", serif, helvetica;
  padding-top: 5%;
  padding-bottom: 8%;
}

h3 {
  font-size: 32px;
  font-family: sans-serif, Arial, Helvetica;
}

h4 {
  font-size: 25px;
  color: antiquewhite;
  line-height: 50px;
}

p {
  font-size: 20px;
  line-height: 50px;
}

#Inicio {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #004154;
}
@media only screen and (max-width: 768px) {
  #Inicio {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  #Inicio {
    grid-row: 1/2;
    grid-column: 1/4;
  }
}

.Nav ul li {
  list-style: none;
  font-size: 20px;
  margin: 0 20px;
  padding-top: 20px;
  position: relative;
  float: right;
}
@media only screen and (max-width: 550px) {
  .Nav ul li {
    font-size: 15px;
  }
}
.Nav ul li a {
  text-decoration: none;
  color: antiquewhite;
}
.Nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Nav ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: rgb(19, 102, 236);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.6s;
}
.Nav ul li:hover::after {
  width: 100%;
}

.Izquierda {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #5e7880;
  border-radius: 10%;
  border: solid;
}
@media only screen and (max-width: 768px) {
  .Izquierda {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 550px) {
  .Izquierda {
    grid-row: 3/4;
    grid-column: 1/4;
  }
}

.Derecha {
  grid-column: 2/4;
  grid-row: 2/3;
  background-image: url("img/imagen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 768px) {
  .Derecha {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 550px) {
  .Derecha {
    grid-row: 2/3;
    grid-column: 1/4;
  }
}

@keyframes colores {
  0%, 100% {
    filter: blur(0px);
  }
  50% {
    filter: blur(100px);
  }
}
.CuadroA {
  grid-column: 1/2;
  grid-row: 3/4;
  border: solid 5px;
  cursor: pointer;
}
.CuadroA a {
  list-style: none;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bree Serif", serif, helvetica;
  color: antiquewhite;
  padding-top: 5%;
  padding-bottom: 8%;
}
@media only screen and (max-width: 768px) {
  .CuadroA {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  .CuadroA {
    grid-row: 4/5;
    grid-column: 1/4;
  }
}

.CuadroB {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #5e7880;
  display: inline-block;
  border: solid 5px;
  cursor: pointer;
}
.CuadroB a {
  list-style: none;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bree Serif", serif, helvetica;
  color: antiquewhite;
  padding-top: 5%;
  padding-bottom: 8%;
}
@media only screen and (max-width: 768px) {
  .CuadroB {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  .CuadroB {
    grid-row: 5/6;
    grid-column: 1/4;
  }
}

.CuadroC {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  border: solid 5px;
}
.CuadroC a {
  list-style: none;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bree Serif", serif, helvetica;
  color: antiquewhite;
  padding-top: 5%;
  padding-bottom: 8%;
}
@media only screen and (max-width: 768px) {
  .CuadroC {
    grid-row: 5/6;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  .CuadroC {
    grid-row: 6/7;
    grid-column: 1/4;
  }
}

#Nosotros {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: #22687d;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  #Nosotros {
    grid-row: 6/7;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  #Nosotros {
    grid-row: 7/8;
    grid-column: 1/4;
  }
}

button {
  width: 70px;
  height: 40px;
  color: black;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
button a {
  text-decoration: none;
  color: black;
}
button:hover {
  background-color: #22687d;
}

#Contacto {
  grid-column: 1/4;
  grid-row: 5/6;
  background-color: #004154;
  display: list-item;
}
#Contacto input[type=text], #Contacto textarea {
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
}
#Contacto .botons {
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
#Contacto .botons:hover {
  background-color: #22687d;
}
#Contacto .icons {
  margin-bottom: 20px;
}
#Contacto .icons img {
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
#Contacto .icons img:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 768px) {
  #Contacto {
    grid-row: 7/8;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 550px) {
  #Contacto {
    grid-row: 8/9;
    grid-column: 1/4;
  }
}

/*# sourceMappingURL=estilos.css.map */
