*
{  
    padding: 0;
    margin: 0;
}

$colores:
(   colorFondo1: #004154,
    colorFondo2: #5e7880,
    colorFondo3: #22687d,
    colorTexto1: antiquewhite,
    colorTexto2: black,
    colorAnimacion1: rgb(19, 102, 236),
    colorAnimacion2:rgba(0,0,0,0.50)
);

.grid-container
{
    width: 100%;
    height: 300%;
    background-color: map-get($colores, colorFondo1);
    color: map-get($colores, colorTexto1);
    text-align: center;
    font-family: Helvetica, sans-serif,Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.50fr 2fr 1.5fr 3fr 1fr;
}
  
h1
{
    font-size:52px;
    font-family:'Bree Serif',serif, helvetica;
    padding-top: 20px;
}   

h2
{
    font-size: 32px;
    font-family:'Bree Serif',serif, helvetica;
    padding-top: 5%;
    padding-bottom: 8%;
}

p
{
    font-size: 20px;
    line-height: 50px;
}

#Inicio
{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: map-get($colores , colorFondo1);
}


.nav 
{
	ul 
    {
		li
        {
			list-style: none;
			font-size: 20px;
			margin: 0 20px;
			padding-top: 20px;
			position: relative;
			float: right;
			a 
            {
				text-decoration: none;
				color: map-get($colores, colorTexto1);
				&:hover 
                {
					background-color: map-get($colores, colorAnimacion2);  
				}
			}
			&::after 
            {
				content: "";
				height: 3px;
				width: 0%;
				background: map-get($colores, colorAnimacion1);
				position: absolute;
				left: 0;
				bottom: 0;
				transition: 0.6s;
			}
			&:hover 
            {
				&::after 
                {
					width: 100%;
				}
			}
		}
	}
}

.Izquierda
{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: map-get($colores, colorFondo2);
    border-radius: 10%;
    border: solid;
}

.Derecha
{   
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url("img/imagen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colores
{
    0%,100%
    {
        filter: blur(0px)
    }
    50%
    {
        filter: blur(100px)
    }
}

.cuadroA
{
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
}

.cuadroB
{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: map-get($colores, colorFondo2);
    display: inline-block;
    cursor: pointer;
}

.cuadroC
{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    cursor: pointer;
}

#nosotros
{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: map-get($colores, colorFondo3);
    font-size: 20px;
}  

button 
{
    width: 70px;
    height: 40px;
    color:map-get($colores, colorTexto2);
    text-decoration: none;
    margin: 20px 20px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    float: right;
    a 
    {
		text-decoration: none;
		color: map-get($colores, colorTexto2);
	}
	&:hover 
    {
		background-color: map-get($colores, colorFondo3);
	}
}

#Contacto
{
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: map-get($colores , colorFondo1);
    line-height: 50px;
}

h3
{
    font-size: 20px;
    color: map-get($colores, colorTexto1);
    line-height: 50px;
}   

@media only screen and (max-width: 550px)
{
   
    .grid-container
    {
        grid-template-rows: 0.50fr 1.8fr 1.5fr 1fr 1fr 1fr 1.7fr 1fr;
    }  

    #Inicio
    {
        grid-row: 1/2;
        grid-column: 1/4;
        font-size: 10px;
    } 

    .Derecha
    {
        grid-row: 2/3;
        grid-column: 1/4;
    } 

    .Izquierda
    {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .cuadroA
    {
        grid-row: 4/5;
        grid-column: 1/4;
    }

    .cuadroB
    {
        grid-row: 5/6;
        grid-column: 1/4;
    }

    .cuadroC
    {
        grid-row: 6/7;
        grid-column: 1/4;
    }

    #Nosotros
    {
        grid-row: 7/8;
        grid-column: 1/4;
    }

    #Contacto
    {
        grid-row: 8/9;
        grid-column: 1/4;
    } 
}



